<mat-drawer-container class="example-container" autosize> 
  <!-- SIDEBAR INICIO -->
<mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
  <mat-nav-list>
    <a
        mat-list-item
        routerLink="home"
        routerLinkActive
        #homeLink="routerLinkActive"
        [activated]="homeLink.isActive"
        >Inicio</a
      >
      <a
        mat-list-item
        routerLink="students"
        routerLinkActive
        #studentsLink="routerLinkActive"
        [activated]="studentsLink.isActive"
        >Alumnos</a
      >
      <a
        mat-list-item
        routerLink="courses"
        routerLinkActive
        #coursesLink="routerLinkActive"
        [activated]="coursesLink.isActive"
        >Cursos</a
      >
      <a
        mat-list-item
        routerLink="enrollments"
        routerLinkActive
        #enrollmentsLink="routerLinkActive"
        [activated]="enrollmentsLink.isActive"
        >Inscripciones</a
      >
      <a
        *ngIf="(authUser | async)?.role === 'ADMIN'"
        mat-list-item
        routerLink="users"
        routerLinkActive
        #usersLink="routerLinkActive"
        [activated]="usersLink.isActive"
        >Usuarios</a
      >

      <a (click)="logout()" mat-list-item>Cerrar sesion</a>
  </mat-nav-list>
</mat-drawer>
<!-- SIDEBAR FIN -->

<!-- MAIN CONTENT INICIO-->
<div class="example-sidenav-content">

  <!-- TOOLBAR INICIO -->
  <mat-toolbar color="primary">
    <div class="flex justify-content-between w-full align-items-center">
        <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Trabajo Practico Final - Coderhouse</span>
      
      @if (authUser | async; as user) {  
        <div>
          {{ user.username }}
        </div>
      }
    </div>
  </mat-toolbar>
  <!-- TOOLBAR FIN -->


  <router-outlet/>

</div>
<!-- MAIN CONTENT FIN-->

</mat-drawer-container>