<mat-drawer-container class="example-container" autosize> 
  <!-- SIDEBAR INICIO -->
<mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
  <mat-nav-list>
    <!-- <mat-icon>person</mat-icon> -->
    <!-- <a mat-list-item href="...">Inicio</a>
    <a mat-list-item href="...">Cursos</a>
    <a mat-list-item href="...">Alumnos</a>
    <a mat-list-item href="...">Inscripciones</a> -->
    <a
        mat-list-item
        routerLink="home"
        routerLinkActive
        #homeLink="routerLinkActive"
        [activated]="homeLink.isActive"
        >Inicio</a
      >
      <a
        mat-list-item
        routerLink="students"
        routerLinkActive
        #studentsLink="routerLinkActive"
        [activated]="studentsLink.isActive"
        >Alumnos</a
      >
      <a
        mat-list-item
        routerLink="courses"
        routerLinkActive
        #coursesLink="routerLinkActive"
        [activated]="coursesLink.isActive"
        >Cursos</a
      >
      <a mat-list-item>Alumnos</a>
      <a
        mat-list-item
        routerLink="enrollments"
        routerLinkActive
        #inscripcionesLink="routerLinkActive"
        [activated]="inscripcionesLink.isActive"
        >Inscripciones</a
      >
  </mat-nav-list>
</mat-drawer>
<!-- SIDEBAR FIN -->

<!-- MAIN CONTENT INICIO-->
<div class="example-sidenav-content">

  <!-- TOOLBAR INICIO -->
  <mat-toolbar color="primary">
    <button
      (click)="drawer.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Trabajo Practico 1 - Coderhouse</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <!-- TOOLBAR FIN -->


  <!-- <app-students></app-students> -->

</div>
<!-- MAIN CONTENT FIN-->

</mat-drawer-container>